/* login.component.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.login-form h2 {
    text-align: center;
}

.input-group {
    position: relative;
}

.input-group .input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.input-group input {
    padding-left: 30px;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}