<div class="searchy">
<button type="submit" class="search-button">
    <i class="fa fa-search"></i>
    <span>What do you want to look for</span>
</button>
</div>

<div class="card-container">
    <div class="card">
        <h2>Card 1</h2>
        <p>Some text here...</p>
    </div>

    <div class="card">
        <h2>Card 2</h2>
        <p>Some text here...</p>
    </div>

    <div class="card">
        <h2>Card 3</h2>
        <p>Some text here...</p>
    </div>
</div>

<div class="texty"><h1>JOIN US AND WORSHIP IN OUR CHURCH</h1></div>


<div class="small-texty"><p>God answers prayers that are all in line with His purpose with His work</p>
<p>Join our church to walk with us through your spiritual journey.</p></div>
<div class="low">
<button mat-button class="menu-button" routerLink="/register">
    <span>JOIN</span>
</button>
</div>
  
   

